.pagination {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;

  .page_item {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.active {
      .page_link {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
      }
    }

    .page_link,
    .page_link_next,
    .page_link_prev,
    .page_link_first,
    .page_link_last {
      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.08);
      }

      position: relative;
      display: block;
      padding: 8px 0;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;
      text-decoration: none;
      cursor: pointer;
      min-width: 34px;
      font-size: 14px;
    }
  }

  .sr_only {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}

// Forget about the code below

.materialize_css {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;

  .page_item {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.active {
      .page_link {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;

        &:hover {
          background-color: #6d8cad;
          border-color: #6d8cad;
        }
      }
    }

    .page_link,
    .page_link_next,
    .page_link_prev,
    .page_link_first,
    .page_link_last {
      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        background: #dee2e6;
        border-color: #dee2e6;
      }

      position: relative;
      display: block;
      padding: 8px 0;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;
      text-decoration: none;
      cursor: pointer;
      min-width: 34px;
      font-size: 14px;

      // Extra Styles from default
      margin: 0 3px;
      border-radius: 50%;
    }
  }

  .sr_only {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}

.new_default {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;

  .page_item {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.active {
      .page_link {
        color: #24466b;
        background-color: unset;
        border-color: unset;
      }
    }

    .page_link,
    .page_link_next,
    .page_link_prev,
    .page_link_first,
    .page_link_last {
      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        color: #24466b;
      }

      position: relative;
      display: block;
      padding: 8px 0;
      line-height: 1.25;
      color: #007bff;
      background-color: unset;
      border: unset;
      text-decoration: none;
      cursor: pointer;
      min-width: 34px;
      font-size: 14px;
    }
  }

  .sr_only {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}

.new_default_2 {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;

  .page_item {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.active {
      .page_link {
        color: #ffffff;
        background-color: #24466b;
        border-color: unset;
      }
    }

    .page_link,
    .page_link_next,
    .page_link_prev,
    .page_link_first,
    .page_link_last {
      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        color: #ffffff;
        background-color: #24466b;
      }

      position: relative;
      display: block;
      padding: 8px 0;
      line-height: 1.25;
      color: #007bff;
      background-color: unset;
      border: unset;
      text-decoration: none;
      cursor: pointer;
      min-width: 34px;
      font-size: 14px;
    }
  }

  .sr_only {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}
